.modal.form-produto {
    display: flex;
    justify-content: center;
    align-items: center;

    &[open] {
        backdrop-filter: blur(2px);
    }

    & .form-content {
        width: calc(100% - 40px);
        max-width: 750px;
        /* min-height: 400px; */
        background-color: white;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.36);
        position: relative;
        padding: 10px;
        display: flex;
        flex-direction: column;

        & h2 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            font-size: 1.2rem;
            color: rgba(0, 0, 255, 0.792);
            border-bottom: solid 2px rgba(0, 0, 255, 0.792);
            padding-bottom: 5px;

            & svg {
                font-size: 1.5rem;
                padding: 5px 8px;
                border-radius: 50%;
                color: rgba(0, 0, 0, 0.567);
                transition: .2s;

                &:hover {
                    background-color: red;
                    color: white;
                }
            }
        }

        & form {
            width: 100%;
            height: 100%;
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-radius: 5px;

            & .inputs {
                padding: 10px;
                background-color: ghostwhite;
                height: 100%;
                display: flex;
                flex-direction: column;
                gap: 15px;

                & div {
                    display: flex;
                    flex-direction: column-reverse;

                    & label {
                        font-size: .9rem;
                        font-weight: 500;
                    }

                    & input {
                        font-size: 1rem;
                        padding: 10px;
                        max-width: 500px;
                        border: solid 1px gray;
                        border-radius: 3px;

                        &:focus{
                            background-color: rgba(0, 94, 255, 0.238);
                        }
                    }
                }
            }

            & nav {
                display: flex;
                flex-wrap: nowrap;
                margin-top: 10px;
                gap: 10px;

                & button {
                    background-color: var(--confirm-btn);
                    color: white;
                    padding: 10px;
                    font-size: .9rem;
                    width: 100%;
                    border-radius: 5px;
                    &.delete {
                        background-color: rgb(255, 63, 63);
                    }
                }
            }
        }
    }
}

@media (max-width:500px) {
    .modal.form-produto {
        display: flex;
        justify-content: center;
        align-items: center;

        &[open] {
            backdrop-filter: none;

            & .form-content {
                animation: none;
                opacity: 1;
            }
        }

        & .form-content {
            width: 100%;
            max-width: auto !important;
            height: 100%;
            background-color: white;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            border-radius: 0px;
            opacity: 0;
            transition: .3s;

            & form {
                width: 100%;
                height: 100%;
                margin-top: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                /* background-color: ghostwhite; */
                border-radius: 5px;
                & .inputs {
                    padding: 5px;
    
    
                    & div {
                        display: flex;
                        flex-direction: column-reverse;
    
                        & label {
                            font-size: .9rem;
                        }
    
                        & input {
                            font-size: 1rem;
                            padding: 10px 5px;
    
                            &:focus{
                                background-color: rgba(0, 94, 255, 0.238);
                            }
                        }
                    }
                }
    
                & nav {
                    display: flex;
                    flex-wrap: nowrap;
                    margin-top: 10px;
                    gap: 10px;
    
                    & button {
                        background-color: var(--confirm-btn);
                        color: white;
                        padding: 10px;
                        font-size: .9rem;
                        width: 100%;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}